@import "../../index.scss";

.topic {
  @include containerGlobal;
  margin: 150px auto 100px auto;
  text-align: center;
}

.title {
  text-transform: uppercase;
  line-height: $lh-big + px;
  font-size: $fs-big + px;
  margin-bottom: 70px;

  @include media ('<tablet') {
    font-size: $fs-h1-s + px;
  }
}

.text,
.img1,
.img2,
.img3 {
  min-height: 720px;
  width: 50%;
  
  @include media ('<desktop') {
    width: 100%;
  }

  @include media ('<tablet') {
    min-height: 540px;
  }

  @include media ('<phone') {
    min-height: 360px;
  }
}

.img1,
.img2,
.img3 {
  background-repeat: no-repeat;
  background-position: center;
  background-color: $c-bg1;
  background-size: cover;
}

.text {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 65px 35px;
  display: flex;
}

.heading,
.supheading {
  max-width: 375px;
}

.heading {
  text-transform: uppercase;
  margin-bottom: 50px;

  @include media ('<phone') {
    font-size: $fs-h2-sm + px;
    margin-bottom: 25px;
  }
}

.supheading {
  @include media ('<phone') {
    font-size: $fs-phone + px;
  }
}

.box1,
.box2,
.box3 {
  display: flex;

  @include media ('<desktop') {
    flex-direction: column;
  }
}

.box1,
.box3 {
  @include media ('<desktop') {
    flex-direction: column-reverse;
  }
}

.img1 {
  background-image: url(../../assets/images/about1.png);
}

.img2 {
  background-image: url(../../assets/images/about2.png);
}

.img3 {
  background-image: url(../../assets/images/about3.png);
}

.article {
  @include containerGlobal;
  text-align: center;
  margin: 50px auto;
  max-width: 760px;
}

.description {
  line-height: $lh-h1-xl + px;
  text-transform: uppercase;
  font-size: $fs-h1 + px;

  @include media ('<phone') {
    font-size: $fs-h2-sm + px;
    line-height: $lh-h3 + px;
  }
}

.photo {
  margin: 0 auto 50px;
  max-width: 670px;
  height: 100%;
}

.tale {
  justify-content: space-between;
  @include containerGlobal;
  max-width: 670px;
  display: flex;

  @include media ('<650px') {
    flex-direction: column;
  }

  & div {
    max-width: 300px;

    @include media ('<650px') {
      max-width: none;
      width: 100%;
    }
  }

  & p {
    font-family: $f-Gothic-A1;
    margin-bottom: 20px;
  }
}

.sign {
  transform: skewX(-10deg);
  margin: 0 auto 50px;
  max-width: 550px;
  height: 100%;
}