@import "../../index.scss";

.wrapper {
  justify-content: center;
  margin: 150px auto 75px;
  flex-direction: column;
  max-height: 800px;
  padding: 0 15px;
  display: flex;
}

.logo {
  margin: 0 auto 35px;
  max-width: 75px;
}

.title {
  font-size: $fs-h1-sm + px;
  font-family: $f-Raleway;
  margin-bottom: 40px;
  text-align: center;
}

.formSign {
  flex-direction: column;
  max-width: 310px;
  margin: 0 auto;
  display: flex;
  width: 100%;

  & input, button {
    min-height: 55px;
    outline: none;
  }

  & input {
    border: 1px solid $c-silver-60;
    margin-bottom: 15px;
    padding: 10px 15px;
  }
}

.btnSubmit {
  background-color: $c-black;
  margin-bottom: 10px;
  border-style: none;
  color: $c-white;

  &:hover {
    color:  $c-turquoise;
  }
}

.btnRegistration {
  text-align: center;
}