@import '../../index.scss';

header {
  @include absolutelyCenterHT(0);
}

// header-top config
.config {
  background-color: $c-black;

  &__wrapper {
    justify-content: space-between;
    @include containerGlobal;
    min-height: 35px;
    color: $c-white;
    margin: 0 auto;
    display: flex;
  }
}


.languages {
  align-items: center;
  display: flex;
}

.select {
  background-color: $c-black;
  color: $c-white;
  outline: none;
  border: none;
}

.title,
.support {
  line-height: $lh-config + px;
  font-size: $fs-config + px;
  align-items: center;
  display: flex;
}
// end of header-top config

//  header-bottom main
.main {
  border-bottom: 1px solid $c-main-20;

  &__wrapper {
    justify-content: space-between;
    @include containerGlobal;
    align-items: center;
    min-height: 75px;
    display: flex;
  }
}

.logo {
  max-width: 160px;
  width: 100%;
}

.link {
  display: inline-block;
}

.nav {
  border-left: 1px solid $c-main-20;
  padding: 10px 25px;
}
// end of header-bottom main block